
.banner {
  background: url('../../public/assets/banner.png') no-repeat center center;
  background-size: cover;
  margin-top: -130px;
  height: 100vh;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 0;
}
.banner-content {
  height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 55px;
  margin-left: 0;
  color: #fff;
  margin-bottom: 0.6em;
}

.description {
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 0.05em;
  color: #fff;
  width: 530px;
  line-height: 160%;
  font-size: 24px;
  margin-bottom: 1em;
}
