.container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .stateCity, .phoneSend {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .image {
   max-width: 500px;
   max-height: auto;
  }
  